body{

margin:0;
font-family:Arial;
background:#20140D;
color:white;
<img src="C:\Users\Admin\Desktop\DarkChocolateStore\images/logo.png" alt="Dark Chocolate Store Logo" width="150">

<img src="C:\Users\Admin\Desktop\DarkChocolateStore\images\dark1.jpg" alt="Classic Dark Chocolate" width="200">

<img src="C:\Users\Admin\Desktop\DarkChocolateStore\images\dark2.jpg"" alt="Almond Dark Chocolate" width="200">

<img src="C:\Users\Admin\Desktop\DarkChocolateStore\images\dark3.jpg"" alt="Almond Dark Chocolate" width="200">

<img src="C:\Users\Admin\Desktop\DarkChocolateStore\images\dark4.jpg"" alt="Almond Dark Chocolate" width="200">

<img src="C:\Users\Admin\Desktop\DarkChocolateStore\images\dark5.jpg"" alt="Almond Dark Chocolate" width="200">

<img src="C:\Users\Admin\Desktop\DarkChocolateStore\images\dark6X.jpg"" alt="Almond Dark Chocolate" width="200">
}



header{

background:black;
padding:30px;
text-align:center;

}


h1{

color:#FFD700;

}


h2{

text-align:center;

}



.container{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:20px;

}



.card{

background:#4E342E;
padding:20px;
width:250px;
border-radius:10px;
text-align:center;

}


form{

display:flex;
flex-direction:column;
width:350px;
margin:auto;
gap:15px;

}


input,
textarea,
select{

padding:12px;
border:none;
border-radius:5px;

}



button{

padding:15px;
background:#FFD700;
font-size:18px;
border:none;
cursor:pointer;
border-radius:5px;

}


button:hover{

background:orange;

}


footer{

margin-top:40px;
padding:20px;
background:black;
text-align:center;

}